section{
    background-color: transparent;
}

#headerSection{
    position: absolute;
    /* background-color: red; */
    height: 150px;
    /* width: 100%; */
    left: 0px;
    right: 0px;
    top: 0px;
    /* opacity: 0.4; */
}
#inputDiv{
    position: absolute;
    /*width: 85%;*/
    background-color: transparent;
    /* opacity: 0.4; */
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing:border-box;
    border-radius: 5px;
}

#chartSection, #animationSection{
    position: absolute;
    top:150px;
    /* background-color: red; */
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    min-height: 500px;
    /* opacity: 0.4; */
}

#animationSection{
    left: 0px;
    width: 30%;
    
    /* background-color: blue; */
}

#chartSection{
    right: 0px;
    width: 70%;
    /* background-color: rgb(154, 158, 154); */
}

#animationDiv{
    position: absolute;
    top: 5px;
    left: 10px;
    right: 5px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing:border-box;
    border-radius: 5px;
}

#tabDiv
{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 10px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

#echartDiv{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 10px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing:border-box;
    border-radius: 5px;
    /* padding-left: 5px; */
} 

.echartContentDiv{
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(102, 51, 153, 0.151);
}

.tabItemSelected
{
    background-color: rgba(218, 124, 17, 0.267);
}

@media only screen and (max-width: 980px) {
    #echartDiv{
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 5px;
    }

    #animationDiv{
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    #chartSection{
        position: absolute;
        top:150px;
        padding: 0px;
        margin: 0px;
        height: 300px;
        width: 100%;
    }
    #animationSection{
        position: absolute;
        top: 450px;
        bottom: 0px;
        width: 100%;
        height: 300px;
    }
    
}

#tabRow{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
#tabRow li{
    float: left;
    margin: 5px;
    border-style: ridge;
    border-color: black;
}