section{
    background-color: transparent;
}

#headerSection{
    position: absolute;
    /* background-color: red; */
    height: 150px;
    /* width: 100%; */
    left: 0px;
    right: 0px;
    top: 0px;
    /* opacity: 0.4; */
}
#inputDiv{
    position: absolute;
    /*width: 85%;*/
    /* opacity: 0.4; */
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing:border-box;
    border-radius: 5px;
}

#chartSection, #animationSection{
    position: absolute;
    top:150px;
    /* background-color: red; */
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    min-height: 500px;
    /* opacity: 0.4; */
}

#animationSection{
    left: 0px;
    width: 80%;
    
    /* background-color: blue; */
}

#chartSection{
    right: 0px;
    width: 20%;
    /* background-color: rgb(154, 158, 154); */
}

#animationDiv{
    position: absolute;
    top: 5px;
    left: 10px;
    right: 5px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing:border-box;
    border-radius: 5px;
}

#tabDiv
{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 10px;
    height: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px; */
    /* box-sizing: border-box; */
    /* border-radius: 5px; */
}

#echartDiv{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 10px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-sizing:border-box;
    border-radius: 5px;
    /* padding-left: 5px; */
} 

.echartContentDiv{
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ddefff;

}

.tabItemSelected
{
    /* border-bottom:solid 2px #4888c7; */
    /* color:#333; */
    background-color: #ddefff;
}

.tabItemUnselected
{
    background: #fff;
    border: 1px solid #fff;

    background-color: #f6fbff;
    /* color: #333; */
}

.tabLi
{
    padding: 0px 5px 5px 0px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgb(150 150 150 / 10%), 0 2px 4px rgb(150 150 150 / 22%);
}

.tabText
{
    /* box-shadow: 0 4px 6px rgba(150,150,150,0.10),
    0 2px 4px rgba(150,150,150,0.22); */
    /* background-color: #ddefff; */
    /* border-radius: 4px; */
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 36px;
    line-height: 30px;
    /* border-color: transparent; */
    /* border-radius:2px; */
}

/* @media only screen and (max-width: 980px) {
    #echartDiv{
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 5px;
    }

    #animationDiv{
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    #chartSection{
        position: absolute;
        top:150px;
        padding: 0px;
        margin: 0px;
        height: 300px;
        width: 100%;
    }
    #animationSection{
        position: absolute;
        top: 450px;
        bottom: 0px;
        width: 100%;
        height: 300px;
    }
    
} */

#tabRow{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
#tabRow li{
    float: left;
    /* margin: 5px; */
    /* border-style: ridge; */
    margin: 0px 5px 0px 5px;
    /* border-color: black; */
}

.CloseTabSpan
{
    width: 10px;
    background: url(http://jkrb.xjtu.edu.cn/EIP/core/miniui/themes/2018-skin/2018-img/icon-tab-x-color01.png) no-repeat center center/16px 16px;
    height: 16px;
    /* padding: 7px; */
    display: inline-block;
    width: 16px;
    /* line-height: 30px; */
    /* top: 20px; */
}

.steelInfoLi
{
    float: left; 
}