<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <title>任务</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.js"></script>
    <!-- <script src="src/lib/echarts.js"></script> -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script src="src/lib/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="src/config.js"></script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">开浇曲线预测</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="predict.html">预测</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="train.html">训练</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="tasks.html">设置</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container shadow-sm mb-2">
            <h4>任务管理</h4>
            <table class="table" id="taskListTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>损失</th>
                        <th>Epoch</th>
                        <th>状态</th>
                        <th>开始时间</th>
                        <th>相关模型</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(taskViewModel,index) in taskViewModels">
                        <td class="col">{{taskViewModel.id}}</td>
                        <td class="col">{{taskViewModel.loss}}</td>
                        <td class="col">{{taskViewModel.epoch}}</td>
                        <td class="col">{{taskViewModel.status}}</td>
                        <td class="col">{{taskViewModel.startTime}}</td>
                        <td class="col">{{taskViewModel.modelId}}</td>
                        <td class="col text-end">
                        <td class="col text-end">
                            <button class="btn btn-secondary btn-sm">查看</button>
                            <button class="btn btn-secondary btn-sm ms-2">暂停</button>
                            <button class="btn btn-secondary btn-sm ms-2"
                                @click="onDeleteButtonClicked(taskViewModel.id, index)">删除
                            </button>
                        </td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container shadow-sm rounded">
            <h4>模型管理</h4>
            <table class="table" id="modelListTable">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>损失</th>
                        <th>状态</th>
                        <th></th>
                        <th style="text-align: right;"><button class="btn btn-primary btn-sm" id="createModelButton"
                                onclick="javascript:onCreateModelButtonClicked()">添加模型</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(modelViewModel,index) in modelViewModels">
                        <td class="col">{{modelViewModel.id}}</td>
                        <td class="col">{{modelViewModel.loss}}</td>
                        <td class="col">{{modelViewModel.status}}</td>
                        <td class="col">{{modelViewModel.path}}</td>
                        <td class="col text-end">
                            <button class="btn btn-secondary btn-sm"
                                @click="onCreateTaskButtonClicked(modelViewModel.id)">创建任务</button>
                            <button class="btn btn-secondary btn-sm ms-2"
                                @click="onDeleteButtonClicked(modelViewModel.id, index)">删除
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>

    <!-- Modal -->
    <div class="modal fade" id="dialogDiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="src/taskView.js"></script>
    <script src="src/view.js"></script>
</body>

</html>