<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>训练模型</title>
    <link href="styles/train.css" type="text/css" rel="stylesheet" />
    <link href="styles/share.css" type="text/css" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <section id="trainningControlSection">
        <div id="uploadDatasetDiv">
            <div>
                <input v-model="datasetPath" id="datasetPathInput" />
                <button class="button" onclick="javascript:onUploadButtonClick()">选择数据集</button>
                <button id="trainButton" class="button" onclick="onTrainButtonClicked()">训练</button>
                <span>{{status}}</span>
            </div>
            <br>
            <button class="button" id="stopTrainningButton" v-if="isTrainning" onclick="javascript:onStopTrainningClicked()">终止训练</button>
        </div>
        <input id="uploadDatasetInput" onchange="onUploadDatasetInputChanged(this)"
            action="http://localhost:8080/uploadAndTrainModel" type="file" style="visibility:hidden;"
            value="上传数据集"></input>
        
    </section>
    <section id="trainningInfoSection">
        <div id="trainningInfoDiv">
            <span style="font-size:large;">训练数据</span>
            </trainningInfoDiv>
    </section>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="src/trainView.js"></script>
    <script src="src/config.js"></script>
</body>


</html>